@use "./_variables" as *;
@use "bootstrap/scss/bootstrap";

#root {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    color: var(--text);
    background-color: var(--bg);
}

h1,
h2,
h3 {
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    color: var(--text-heading);
}

h1 {
    font-size: rem(48);
    letter-spacing: -1.5px;
    margin: rem(32) 0;

    @media (max-width: 1024px) {
        font-size: rem(32);
        margin: rem(20) 0;
    }
}

h2 {
    font-size: rem(24);
    line-height: 118%;
    margin: 0 0 rem(8);

    @media (max-width: 1024px) {
        font-size: rem(20);
    }
}

p {
    font-family: var(--font-family), sans-serif;
    font-weight: 500;
    margin: 0;
}

button {
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
}